main {
    max-width: 220px;
    margin: 50px auto;
}

#calculator-area {
    background: grey;
    padding: 10px 2px;

}

#button-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    ;
}

button {
    min-width: 50px;
    margin: 2px;
}

button,
main {
    border: 2px solid black;
    border-radius: 8px;
}

.row {
    display: flex;
    justify-content: space-around;
}

.output,
.answer-area {
    color: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 4px;
    background: black;
    min-height: 25px;
    padding-right: 5px;
    font-size: 21px;
    justify-content: flex-end;
}

.answer-area {
    border-top: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.number,
.period {
    background: lightblue;
}

.operator,
.equals {
    background: orange;
}

#zero {
    flex-grow: 2;
}

button:disabled {
    background: #dddddd;
}