body {
    background: lightblue;
}

main {
    max-width: 220px;
}

button {
    min-width: 50px;
    margin: 2px;
}

.output, button, main, .answer-area {
    border: 1px solid black
}

div {
    display: flex;
    justify-content: space-around;
}

.output, .answer-area {
    justify-content: flex-end;
    min-height: 20px;
}

#zero {
    flex-grow: 2;
}

